# LaTeX build artifacts (keep *.tex, *.pdf)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.lol
*.upa
*.upb
*.pyg
*-blx.bib
*.spl
*.maf
*.mtc*
*.slg
*.slo
*.sls
*.nlo
*.nls
